* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/* DESKTOP1 */



@font-face {
    font-family: BeBasNeue;
    src: url(bebas_neue/BebasNeue-Regular.woff);
}

#BV{
    text-align: center;
    margin: 0 auto;
    
    margin-top: 4%;
    font-size: 81pt;
    font-family: BebasNeue;
    color: rgb(232,232,232);
   
}


body {
    background-color: #1D132B;
   
}

#ima{
   border: 3px solid #fff;
   align-items: center;
   margin: 0 auto;
   margin-top: 1%;
   margin-left: 42%;
   width: 200px;
   height: 200px;
   border-radius: 100%;
   background-color: #6f00ff2f;
}

#foto-eu{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



.Letra {
    color: white;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
    margin-top: 0.5%;
    display: block;
    animation:ease-in-out ;
    opacity: 1;
    text-align: center;
}

/* Sobre */

.sobre {
    align-items: center;
    border: 1.5px solid #ffff;
    margin-left: 21%;
    margin-top: 2%;
    margin-right: 22%; 
    border-radius: 25px;
}

.Nome {
    color: rgb(232, 232, 232);
   font-display: center;
    text-align: center;
    margin-top: 30px;
    font-family: BeBasNeue;
    font-size: 32pt;

}

.letrasobre {
    color: #fff;
    font-family: Arial;
    text-justify: auto;
    text-align: justify;
    font-size: 11pt;
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;
    
}

/* Redes Sociais de trabalho */
.in{
    width: 35px;
    height: 35px;
    margin-left: 10%;
   cursor: pointer;
   
}

.em{
    width: 45.5px;
    height: 45.5px;
    margin: 0 auto;
    margin-left: -6px;
    margin-top: -5.5px;
    cursor: pointer;
    
   
}

#e-cor{
    margin: 0 auto;
    margin-left: 10%;
    width: 34px;
    height: 34px;
    background-color: #fff;
    border-radius: 1000px;
    border: 2px solid #ffff;
    cursor: pointer;
}

.em:hover{
    transform: scale(1.05);

}

#e-cor:hover{
    margin: 0 auto;
    margin-left: 9%;
    transform: scale(1.05);
    background-color: #fff;
    border-radius: 1000px;
    border: 2px solid #ffff;
    cursor: pointer;
}



.in:hover {
    transform: scale(1.10);
    
}


.git{
    width: 35px;
    height: 35px;
    margin: 0 auto;
    
    border-radius: 1000px;
    background-color: #fff;
    cursor: pointer;
}

.git:hover {

    transform: scale(1.15);
}


.tel{
    width: 30px;
    height: 35px;
    cursor: pointer;
    margin-left: 7px;

}

.tel:hover{
    transform: scale(1.10);
}

.redes {
    margin: 0 auto;
    margin-top: 0.5%;
    margin-left: 44%;
    width: 8%;
    height: 0%;
    display: flex;
    
}


#redesd {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-left: 0%;

}

#redese {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-right: 5%;

 
}


/*Cursos Estudados: DEV */

.cursos-bar{
    margin-top: 5%;
    background-color: #000;
    opacity: 0.5;
    margin-bottom: 2%;
    height: 110px;

}

.cursos{
    color: rgb(241, 241, 241);
       font-family: BebasNeue;
      text-align: center;
      text-shadow: 2px 2px rgb(0, 0, 0);
      font-size: 42pt;
        margin-top: -8%;
        margin-bottom: 4%;
        opacity: 1;
        position: relative;
}

/*Certificados */

.cert{
    display: inline-flex;
    margin-bottom: 3%;

    width: 100%;
}



.cert-box-1{

    width: 500px;
    height: 400px;


}

.cert-box-2{

    width: 70%;
    height: auto;
  

    
}

.img-cert{
    border: #fff 1px solid;
    width: 250px;
    height: 250px;
    margin-top: 4%;
    margin-left: 25%;
    margin-bottom: 10%;
    border-radius: 10%;
}

.img-cert:hover{
    transform: scale(1.05);
    transition: 0.35s  ease-out; 
}

.img-cert-2{
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.cert-download{
    margin-left: 35%;
    color: #1D132B;
    font-family: BebasNeue;
    border-radius: 5px;
    border-left: #5d00a3 7px solid;
    background-color: rgb(235, 235, 235);
    font-size: 15pt;
    padding: 5px 25px ;
    
}

.cert-download:hover{
    color: rgb(235,235,235);
    background-color: #5d00a3;
    border: #fff 1px solid;
    border-left: #d8d8d8 7px solid;
    transition-timing-function: ease-in-out;
    transition: 0.35s ease-in-out; 
}

.cert-nome{
 
    text-align: center;
    color: white ;
    font-family: BebasNeue;
    text-shadow: 4px 4   px rgb(0, 0, 0);
    font-size: 25pt;
    margin-top: 8%;
    margin-left: 29%;
    width: 45%;

}

.cert-sobre-div{
    border: #fff 1px solid;
    border-radius: 30px;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;

}

.cert-sobre{
    color: #fff;
    font-family: Arial;
    text-justify: auto;
    text-align: justify;
    font-size: 12pt;
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 4%;
}
/* Linguagens usadas */

#lin{
    color: rgb(241, 241, 241);
       font-family: BebasNeue;
       margin-left:39.5%;
      text-shadow: 2px 2px rgb(0, 0, 0);
      margin-top: -1%;
      
      font-size: 23pt;
}

#fotos {
    border: rgb(84, 84, 84) solid 1px;
    background-color: rgba(75, 75, 75, 0.538);
    margin-top: 0.5%;
    
}

#orga{
  
    width: 0 auto;
    height: 100%;
    padding: 2%;
}

#orga2{
    
    display: flex;
    flex-wrap: nowrap;
}

#JS{
    margin-top: 30px;
    margin-left: 4%;
    width: 11.5%;
    height: 20%;
    animation: float 6s ease-in-out infinite;
}   

#html {
   
    margin-top: -980px;
    margin-left: 1%;
 
    width: 5.1%;
    height: 16%;
    animation: float 6s ease-in-out infinite;
}

#CSS { 
    margin: 0 auto;

    width: 5%;
    height: 14%;
    margin-left: 4%;
    margin-bottom: 0;
    animation: float 6s ease-in-out infinite;
}

#PHP {
    margin: 0 auto;
    width: 8%;
    height: 14%;
    margin-left: 3%;
    animation: float 6s ease-in-out infinite;
    margin-bottom: 1%;
}

#Java{
    margin: 0 auto;

    width: 6%;
    height: 11%;
    margin-left: 3%;
    margin-top: 0px;
    margin-bottom: 1.2%;
    animation: float 6s ease-in-out infinite;
}

#MySQL{
    margin: 0 auto;
    width: 11%;
    height: 10%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1.2%;
    animation: float 6s ease-in-out infinite;
}

#Git{
    margin: 0 auto;
    width: 6%;
    height: 6%;
    margin-left: 41%;
    margin-top: 1%;
    margin-bottom: 1.0%;
    animation: float 6s ease-in-out infinite;
}

#Bootstrap{
    margin: 0 auto;
    width: 6%;
    height: 6%;
    margin-left: 3%;
    margin-top: -2%;
    margin-bottom: 1.5%;
    animation: float 6s ease-in-out infinite;
}

#Spring{
    margin: 0 auto;
    width: 13%;
    height: 13%;
    margin-left: 2%;
    margin-top: -2%;
    margin-bottom: 0%;
    animation: float 6s ease-in-out infinite;
}

#Laravel{
    margin: 0 auto;
    width: 7%;
    height: 7%;
    margin-left: 3%;
    margin-top: -2%;
    margin-bottom: 0%;
    animation: float 6s ease-in-out infinite;
}


/* Projetos Feitos*/

#proj{
    font-family: BeBasNeue;
    font-size: 30pt;
    color:rgb(224, 224, 224);
    margin-top: 5%;
    text-align: center;
    text-shadow: 2px 2px #000;
   
}

#proj-sec{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    height: 0 auto;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
 
}

.conteiner{
    width:80%;
    height: 30%;
    cursor: pointer;
    display: inline-block;
    margin-left: 9%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 5%;
    
}



@keyframes float {

0%{
    transform: translateY(0px);
}
50%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(0px);
}
}

.proj-info{
    border: #fff 1px solid;
    width: 350px;
    height: 600px;
    margin-left: 0%;
    margin-right: 1%;
    margin-top: 4%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.8);
 
}

.proj-ft{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #5d00a3;
}

.proj-ft:hover{
        transform: scale(1.05);
        transition: 1s  ease-in-out; 
        border: 3px solid #e5c3ff;
}

.proj-text{
    text-align: center;
    margin-top: 5%;
    font-size: 20pt;
    font-family: BebasNeue;
    color: rgb(229, 229, 229);
    text-shadow: 2px 2px #000;
}

.proj-sobre{
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    
    text-align: justify;
    font-family: arial;
}

#cert-Ap{
    margin-top: -3%;
}

#cert-redes{
        margin-top: 4%;

    
}

#AP{
    margin-left: 30%;
}


@media screen and (max-width: 440px) {
    
    #BV{
        text-align: center;
        margin-top: 14%;
        margin-right: 0%;
        font-size: 36pt;
        font-family: BebasNeue;
        color: rgb(232,232,232); 
        
    }

    .principal{
    
    display: flexbox;
    width: 100vw;
    z-index: 1;
    height: 0 auto;
    margin-bottom: 5%;
    }

    #ima{
        border: 3px solid #fff;
        align-items: center;
        margin: 0 auto;
        margin-top: 1%;
        margin-left: 32vw;
        width: 150px;
        height: 150px;
        border-radius: 100%;
     }

     
#foto-eu{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}



.Letra {
    color: white;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 11pt;
    margin-top: 0.5%;
    display: block;
    animation:ease-in-out ;
    opacity: 1;
    text-align: center;
}

/* Sobre */

.sobre {
    align-items: center;
    border: 1.5px solid #ffff;
    margin-left: 15vw;
    margin-top: 13vw;
    margin-right: 15vw; 
    margin-bottom: 6.5vw;
    border-radius: 25px;
}

.Nome {
    color: rgb(230, 230, 230);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 30px;
    font-family: BeBasNeue;
    font-size: 22pt;
}

.letrasobre {
    color: #fff;
    font-family: Arial;
    text-justify: auto;
    text-align: justify;
    font-size: 10pt;
    margin: 0 auto;
    margin-top: 4%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 8%;
    
}

/* Redes Sociais de trabalho */
.in{
    width: 30px;
    height: 30px;
    margin-left: 2.5vw;
   cursor: pointer;
   
}

.em{
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-left: -2vw;
    margin-top: -5.5px;
    cursor: pointer;
    
   
}

#e-cor{
    margin: 0 auto;
    margin-left: 2.5vw;
    width: 24px;
    height: 25px;
    background-color: #fff;
    border-radius: 1000px;
    border: 2px solid #ffff;
    cursor: pointer;
}

.em:hover{
    transform: scale(1.05);

}

#e-cor:hover{
    margin: 0 auto;
    margin-left: 9%;
    transform: scale(1.05);
    background-color: #fff;
    border-radius: 1000px;
    border: 2px solid #ffff;
    cursor: pointer;
}



.in:hover {
    transform: scale(1.10);
    
}


.git{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    
    border-radius: 1000px;
    background-color: #fff;
    cursor: pointer;
}

.git:hover {

    transform: scale(1.15);
}


.tel{
    width: 26px;
    height: 30px;
    cursor: pointer;
    margin-left: 3.5vw;

}

.tel:hover{
    transform: scale(1.10);
}

.redes {
    margin: 0 auto;
    margin-top: 0.5%;
    margin-left: 33vw;
    width: 8%;
    height: 0%;
    display: flex;
    
}


#redesd {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-left: 0%;

}

#redese {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-right: 5%;

 
}




/*Cursos Estudados: DEV */

.cursos-bar{
    margin-top: 5%;
    background-color: #000;
    opacity: 0.5;
    margin-bottom: 2%;
    height: 100px;

}

.cursos{
    color: rgb(241, 241, 241);
       font-family: BebasNeue;
      text-align: center;
      text-shadow: 2px 2px rgb(0, 0, 0);
      font-size: 23pt;
        margin-top: -16%;
        margin-bottom: 12%;
        opacity: 1;
        position: relative;
}

/*Certificados */

.cert{
    display:table-row;
    margin-bottom: 3%;
}

.cert-box-1{

    width: 400px;
    height: 200px;
    border-bottom: #fff solid 0px;
    margin-bottom: 30%;
    
}

.cert-box-2{
    
    width: 420px;
    height: 400px;
    margin-bottom: 50%;
    border-bottom: rgb(70, 0, 123) solid 0px;
  
    height: 100%;
}

#cert-Dev{
    margin-bottom: 10%;
}

.img-cert{
    border: #fff 1px solid;
    width: 200px;
    height: 200px;
    margin-top: 3%;
    margin-left: 28%;
    margin-bottom: 10%;
    border-radius: 10%;
}

.img-cert:hover{
    transform: scale(1.05);
    transition: 0.35s  ease-out; 
}

.img-cert-2{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.cert-download{
    margin-left: 38%;
    color: #1D132B;
    font-family: BebasNeue;
    border-radius: 5px;
    border-left: #5d00a3 7px solid;
    background-color: rgb(235, 235, 235);
    font-size: 12pt;
    padding: 5px 13px ;
   
}

.cert-download:hover{
    color: rgb(235,235,235);
    background-color: #5d00a3;
    border: #fff 1px solid;
    border-left: #d8d8d8 7px solid;
    transition-timing-function: ease-in-out;
    transition: 0.35s ease-in-out; 
}

.cert-nome{
   
    text-align: center;
    color: white ;
    font-family: BebasNeue;
    text-shadow: 4px 4   px rgb(0, 0, 0);
    font-size: 23pt;
    margin-top: -6%;
    margin-left: 0%;
    width: 100%;

}

.cert-sobre-div{
    
    border-radius: 30px;
    margin-top: 6%;
    margin-left: 16.5%;
    margin-right: 16%;
    margin-bottom: 10%;
}

.cert-sobre{
    color: #fff;
    font-family: Arial;
    text-justify: auto;
    text-align: justify;
    font-size: 10pt;
    margin: 0 auto;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
}
/* Linguagens usadas */

#lin{
    color: rgb(241, 241, 241);
       font-family: BebasNeue;
       margin-left: 21.5%;
      text-shadow: 2px 2px rgb(0, 0, 0);
      margin-top: 2%;
      font-size: 22pt;
     
}

#fotos {
    border: rgb(84, 84, 84) solid 1px;
    background-color: rgba(75, 75, 75, 0.538);
    margin-top: -3%;
}

#orga{
  
    width: 0 auto;
    height: 100%;
    padding: 2%;
}

#JS{
    margin-top: 30px;
    margin-left: 7%;
    width: 25%;
    height: 36%;
    animation: float 6s ease-in-out infinite;
}   

#html {
   
    margin-top: -980px;
    margin-left: 0%;
 
    width: 11%;
    height: 13%;
    animation: float 6s ease-in-out infinite;
}

#CSS { 
    margin: 0 auto;

    width: 11%;
    height: 27%;
    margin-left: 6%;
    margin-bottom: 0;
    animation: float 6s ease-in-out infinite;
}

#PHP {
    margin: 0 auto;
    width: 21%;
    height: 26%;
    margin-left: 3%;
    animation: float 6s ease-in-out infinite;
    margin-bottom: 1%;
}

#Java{
    margin: 0 auto;

    width: 12%;
    height: 16%;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 0%;
    animation: float 6s ease-in-out infinite;
}

#MySQL{
    margin: 0 auto;
    width: 19%;
    height: 19%;
    margin-left: 6%;
    margin-top: 1%;
    margin-bottom: 1.2%;
    animation: float 6s ease-in-out infinite;
}

#Git{
    margin: 0 auto;
    width: 13%;
    height: 13%;
    margin-left: 34%;
    margin-top: 3%;
    margin-bottom: 0%;
    animation: float 6s ease-in-out infinite;
}

#Bootstrap{
    margin: 0 auto;
    width: 13%;
    height: 13%;
    margin-left: 6%;
    margin-top: -2%;
    margin-bottom: 0%;
    
}

#Spring{
    margin: 0 auto;
    width: 23%;
    height: 23%;
    margin-left: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

#Laravel{
    margin: 0 auto;
    width: 15%;
    height: 15%;
    margin-left: 6%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}



/* Projetos Feitos*/

#proj{
    font-family: BeBasNeue;
    font-size: 25pt;
    color:rgb(224, 224, 224);
    margin-top: 12%;
    
    
    text-shadow: 2px 2px #000;
}

#proj-sec{
    display:table-row;
    justify-content: center;
    width: 100%;
    height: 0 auto;
    
   
}


.conteiner{
    width:80%;
    height: 30%;
    cursor: pointer;
    display: inline-block;
    margin-left: 9%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 5%;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    
}



@keyframes float {

0%{
    transform: translateY(0px);
}
50%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(0px);
}
}

.proj-info{
   
    border: #fff 1px solid;
    width: 380px;
    
    margin-left: 5%;
    margin-right: 0%;
    margin-top: 13%;
    margin-bottom: 10%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
 
}

#psico{
    height: 650px;
}

.proj-ft{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #5d00a3;
}

.proj-ft:hover{
        transform: scale(1.05);
        transition: 1s  ease-in-out; 
}

.proj-text{
    text-align: center;
    margin-top: 5%;
    font-size: 20pt;
    font-family: BebasNeue;
    color: rgb(229, 229, 229);
    text-shadow: 2px 2px #000;
    
}

.proj-sobre{
    color: #fff;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 10%;
    text-align: justify;
    font-family: arial;
    font-size: 12.5pt;
}

#cert-Ap{
    margin-top: -6%;
    
}

#cert-redes{
        margin-top: 4%;
    
}

#AP{
    margin-left: 33.5%;
   
}


}

